<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12902377480-afto1a580sg6lemso772b4t3uiep2gpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12902377480-afto1a580sg6lemso772b4t3uiep2gpq</string>
	<key>API_KEY</key>
	<string>AIzaSyBin1zmcXnT54JpnO97I-0yX5i3JuJNUC0</string>
	<key>GCM_SENDER_ID</key>
	<string>12902377480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nazonazpProject</string>
	<key>PROJECT_ID</key>
	<string>quizuproject-3b895</string>
	<key>STORAGE_BUCKET</key>
	<string>quizuproject-3b895.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12902377480:ios:0268aa97e232458a</string>
	<key>DATABASE_URL</key>
	<string>https://quizuproject-3b895.firebaseio.com</string>
</dict>
</plist>